@media only screen and (max-width: 479px){
	.header__logo {
		width: 100%;
		max-width: 320px;
		margin: 0 auto 10px auto;
	}

	.header__phone {
		width: 100%;
		max-width: 320px;
		margin: 0 auto;
		padding: 5px;
	}

	.header__phone p {
		margin-bottom: 5px;
	}

	header {
		border-bottom: 2px solid #000000;
		padding-bottom: 15px;
	}

	.nav__wrapper ul {
		text-align: center;
	}

	nav {
		margin: 10px 0;
	}

	.nav__wrapper ul li {
		width: 120px;
		text-align: left;
		margin: 2px 20px;
	}

	.mainSlider, .slick-slider {
		
	}

	.slick-dots {
		bottom: -25px !important;
	}

	.service {
		width: 100%;
	}

	.services__all a {
		font-size: 14px;
	}

	.fotoresult__block {
		display: none;
	}

	.director__block {
		background-size: contain;
		background-position: 0px 55px;
		margin-top: 40px;
	}

	.director__name {
		padding-left: 0px;
		margin-bottom: 5px;
	}

	.director__position {
		padding-left: 0px;
	}

	.director__list ul {
		padding-left: 25px;
		margin-top: 95%;
		margin-bottom: 10px;
	}

	.director__certificate {
		padding-left: 5px;
		margin-top: 10px;
		text-align: center;
		margin-bottom: 40px;
	}

	.certificate__item {
		width: 26%;
	}

	.certificate__item img {
		max-width: 100%;
	}

	.make__apointment a {
		position: relative;
		margin: 10px auto;
		right: 0px;
		bottom: 0px;
	}

	.make__apointment {
		text-align: center;
	}

	.advantage {
		width: 100%;
	}

	.advantage__ico {
		margin: 5px auto;
		width: 100%;
		text-align: center;
	}

	.advantage__title {
		text-align: center;
	}

	.advantage__desc {
		padding-left: 50px;
	}

	.bottomBanner__title {
		top: -20px;
		font-size: 14px;
		right: 15%;
	}

	.bottomBanner__more {
		display: none;
	}

	.bottomBanner__link {
		position: relative;
		font-size: 18px;
		margin-top: 15px;
		top: 0;
		right: 0;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}

	footer {
		margin-top: 10px;
	}

	.footer__info {
		float: none;
	}

	.footer__phone {
		text-align: center;
	}

	.footer__address {
		text-align: center;
	}

	.w50 {
		width: 100%;
	}

	.w50 > img {
		max-width: 100%;
		width: 80%;
		margin-left: 10%;
	}

	.w50 > img.ico {
		width: auto;
		margin-left: 1%;
		margin-right: 0;
	}

	.news__item {
		width: 100%;
	}

	.news__wrap {
		padding: 5px;
	}

	h1 {
		margin-top: 25px;
		margin-bottom: 0px;
	}

	.docs_item {
		width: 40%;
	}

	.discount_image {
		width: 95%;
	}

	.discount_text {
		width: 95%;
	}

	.feedback__wrap {
		max-width: 450px;
		left: 10%;
		top: 3%;
	}

	.feedback_success {
		max-width: 450px;
		left: 10%;
		top: 3%;
	}

	.w30 {
		width: 90%;
		margin-left: 5%;
	}
}