$fontDefault: 'Open Sans', sans-serif;
$fontForms: Arial, Helvetica, sans-serif;

$time: .4s;
$fontBase: 10px;
$footerHeight: 50px;

////////////
// COLORS //
////////////
$c-white:                   #fff;
$c-vulcan:                  #383a3e;
$c-bunker:                  #23262a;
$c-gainsboro:               #dedede;
$c-emerald:                 #53e591;
$c-mantis:                  #8BC34A;
$c-dark-gray:               #AAAAAA;
$c-cornflower-blue:         #4588ed;
$c-royal-blue:              #557DE2;
$c-pattern-blue:            #c8d7e1;
$c-dodger-blue:             #0099FF;
$c-whisper:                 #e4e4e4;
$c-light-gray:              #d4d4d4;
$c-very-light-gray:         #cccccc;
$c-summer-sky:              #3498DB;
$c-eclipse:                 #404040;
$c-cinnabar:                #e74c3c;
$c-solitude:                #E5E7ED;
$c-cream-blulee:            #ffdf93;
$c-atomic-tangerine:        #FF8A65;
$c-hint-of-red:             #F5F2F0;
$c-desert-storm:            #E7E5E3;
$c-tahiti-gold:             #eb7126;

// Red
$c-red-orange:              #f44336;
$c-amour:                   #ffebee;
$c-we-peep:                 #ffcdd2;
$c-sweet-pink:              #ef9a9a;
$c-geraldine:               #e57373;
$c-sunset-orange:           #ef5350;

//
$selectcolor				: #fff;
$selectBackground			: #097dc5;

$placeholderColor			: #000;
$placeholderOpacity			: .5;

$colorText					: #000;

$error  					: #f00;
$border 					: #e4e6ea;

$decorate					: #F96F5B;

$dark-green					: #4caf50;

$dark-gray					: #A7AEBB;

$background					: #F5F5F5;


// Colors

$red						: #d80000;
$red-dark					: #b30839;
$orange-light				: #ffb400;
$orange-dark				: #f5a623;
$green-light				: #50e3c2;
$brown						: #b34d02;
$pink						: #df4379;

$red						: #DA291C;
$green						: #046A38;

$gray:                          #e4e6ea;