@font-face {
    font-family: 'fontello';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/fontello/fontello.eot');
    src: url('../fonts/fontello/fontello.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fontello/fontello.woff') format('woff'),
         url('../fonts/fontello/fontello.ttf') format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/inconsolata/regular.eot');
    src: url('../fonts/inconsolata/regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata/regular.woff2') format('woff2'),
         url('../fonts/inconsolata/regular.woff') format('woff'),
         url('../fonts/inconsolata/regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Inconsolata';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/inconsolata/bold.eot');
    src: url('../fonts/inconsolata/bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inconsolata/bold.woff2') format('woff2'),
         url('../fonts/inconsolata/bold.woff') format('woff'),
         url('../fonts/inconsolata/bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Material-Design-Iconic-Font';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/material/material.eot');
    src: url('../fonts/material/material.eot?#iefix') format('embedded-opentype'),
         url('../fonts/material/material.woff2') format('woff2'),
         url('../fonts/material/material.woff') format('woff'),
         url('../fonts/material/material.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/open_sans/light.eot');
    src: url('../fonts/open_sans/light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans/light.woff2') format('woff2'),
         url('../fonts/open_sans/light.woff') format('woff'),
         url('../fonts/open_sans/light.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-style: normal;
    src: url('../fonts/open_sans/regular.eot');
    src: url('../fonts/open_sans/regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans/regular.woff2') format('woff2'),
         url('../fonts/open_sans/regular.woff') format('woff'),
         url('../fonts/open_sans/regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-style: normal;
    src: url('../fonts/open_sans/bold.eot');
    src: url('../fonts/open_sans/bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open_sans/bold.woff2') format('woff2'),
         url('../fonts/open_sans/bold.woff') format('woff'),
         url('../fonts/open_sans/bold.ttf') format('truetype');
}